<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %> {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width %>px;
      height: <%= frame.height %>px;
    }
  </style>

  <div id="frame_<%= frame.id %>" class="frame">
    <!-- <%= frame.tag %> -->
    <%

      ets = EventType.find_by_sources_and_names(
                                               Tag.sources_for_tagname(frame.tag),
                                               Tag.names_for_tagname(frame.tag)
                                              )
      event_groups = Event.get_normalized_for_timerange(ets, 600, Time.zone.parse("2010-11-19 11:55:00"))

      x = []
      data = []
      x << 600.times.collect
      zerodata = []
      600.times { zerodata << 0 }
      data << zerodata
      event_groups.each_pair do |event_type, events|
        gx = []
        gdata = []
        events.keys.sort.each do |key|
          gx << key
          gdata << events[key].value.to_f
        end
        x << gx
        data << gdata
      end

    %>

    <script type="text/javascript">
      var r = Raphael("frame_<%= frame.id %>");
      x = <%= x.inspect.to_s %>
      data = <%= data.inspect.to_s %>
      r.g.linechart(20, 0, <%= frame.width %> -20, <%= frame.height %> - 20, x, data, {nostroke: false, axis: "0 0 1 1", symbol: "", smooth: true, shade: true});
      //r.g.linechart(20, 0, 200, 180, [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 5], [4, 5, 6, 7, 8]], [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [12, 15, 16], [13, 15, 17, 11, 19]], {nostroke: false, axis: "0 0 1 1", symbol: "", smooth: false, shade: true});
    </script>
  </div>
  
<% end %>
