<%= div_for tag do %>

  <h2 class="name"><%= tag.name %></h2>

  <div class="content">
    <% if (!tag.tags.empty?) then %>

      <h3>Tags:</h3>
      <div class="subtags">
        <% tag.tags.each do |subtag| %>
          <span class="element"><%= subtag %></span>
        <% end %>
      </div>

    <% else %>

      <h3>Event sources:</h3>
      <div class="sources">
        <% tag.event_sources.each do |event_source| %>
          <span class="element"><%= event_source %></span>
        <% end %>
      </div>

      <h3>Event names:</h3>
      <div class="names">
        <% tag.event_names.each do |event_name| %>
          <span class="element"><%= event_name %></span>
        <% end %>
      </div>

    <% end %>
  </div>

<% end %>
