<%= div_for tag do %>
  <div class="header-box">
    <div class="left">
      <h2 class="boxtitle name"><%= tag.name %></h2>
    </div>
    <div class="right">
      <div id="tag-delete_<%= tag.id %>" class="tag-delete delete-button">x</div>
    </div>
  </div>
  <br clear="all" />

  <div class="content">
    <% if (!tag.tags.empty?) then %>

      <div class="elements_block">
        <h3>Tags:</h3>
        <div class="elements subtags">
          <% tag.tags.each do |subtag| %>
            <span class="element subtag"><%= subtag %></span>
          <% end %>
        </div>
      </div>

    <% end %>

    <div class="elements_block">
      <h3>Event sources:</h3>
      <div class="elements sources">
        <% tag.resolved_event_sources.each do |event_source| %>
          <span class="element source"><%= event_source %></span>
        <% end %>
      </div>
    </div>

    <div class="elements_block">
      <h3>Event names:</h3>
      <div class="elements names">
        <% tag.resolved_event_names.each do |event_name| %>
          <span class="element name"><%= event_name %></span>
        <% end %>
      </div>
    </div>

    <div class="eventsarea">
      <%= link_to('Show latest events',
                  { :controller => "events",
                    :action => "latest",
                    :format => "json",
                    :tag_id => tag.id
                  },
                  :method => "get",
                  :remote => true,
                  :complete => 'See below:',
                  :disable_with => 'loading...',
                  :id => 'link_events_tagid_' + tag.id
                 )
      %>

      <pre id="events_tagid_<%= tag.id %>" class="events"></pre>

      <script type="text/javascript">
        bindEventRenderer("<%= tag.id %>");

        $(document).ready( function() {

          $("#tag-delete_<%= tag.id %>").hide();

          $("#tag_<%= tag.id %>").mouseenter(function() {
            $("#tag-delete_<%= tag.id %>").fadeIn();
          });

          $("#tag-delete_<%= tag.id %>").mouseenter(function() {
            $("#tag-delete_<%= tag.id %>").css('backgroundColor', '#f00');
          });

          $("#tag_<%= tag.id %>").mouseleave(function() {
            $("#tag-delete_<%= tag.id %>").fadeOut();
          });

          $("#tag-delete_<%= tag.id %>").mouseleave(function() {
            $("#tag-delete_<%= tag.id %>").css('backgroundColor', '#ddd');
          });

        });
      </script>

    </div>

  </div>

<% end %>
