<%= div_for tag do %>
  <h2 class="name"><%= tag.name %></h2>

  <div class="content">
    <% if (!tag.tags.empty?) then %>

      <div class="elements_block">
        <h3>Tags:</h3>
        <div class="elements subtags">
          <% tag.tags.each do |subtag| %>
            <span class="element subtag"><%= subtag %></span>
          <% end %>
        </div>
      </div>

    <% end %>

    <div class="elements_block">
      <h3>Event sources:</h3>
      <div class="elements sources">
        <% tag.resolved_event_sources.each do |event_source| %>
          <span class="element source"><%= event_source %></span>
        <% end %>
      </div>
    </div>

    <div class="elements_block">
      <h3>Event names:</h3>
      <div class="elements names">
        <% tag.resolved_event_names.each do |event_name| %>
          <span class="element name"><%= event_name %></span>
        <% end %>
      </div>
    </div>

    <div class="eventsarea">
      <%= link_to('Show latest events',
                    { :controller => "events", :action => "latest", :format => "js", :tag_id => tag.id },
                    :method => "get",
                    :remote => true,
                    :complete => 'See below:',
                    :disable_with => 'loading...'
                   )
      %>

      <pre id="events_tagid_<%= tag.id %>" class="events"></pre>
    </div>

  </div>

<% end %>
