<%= div_for tag do %>

  <h2 class="name"><%= tag.name %></h2>

  <div class="content">
    <% if (!tag.tags.empty?) then %>

      <div class="elements_block">
        <h3>Tags:</h3>
        <div class="elements subtags">
          <% tag.tags.each do |subtag| %>
            <span class="element subtag"><%= subtag %></span>
          <% end %>
        </div>
      </div>

    <% end %>

    <div class="elements_block">
      <h3>Event sources:</h3>
      <div class="elements sources">
        <% tag.resolved_event_sources.each do |event_source| %>
          <span class="element source"><%= event_source %></span>
        <% end %>
      </div>
    </div>

    <div class="elements_block">
      <h3>Event names:</h3>
      <div class="elements names">
        <% tag.resolved_event_names.each do |event_name| %>
          <span class="element name"><%= event_name %></span>
        <% end %>
      </div>
    </div>

  </div>

  <script type="text/javascript">
    $(function() {
      $(".element").draggable({ revert: "valid", helper: "clone" });
    });
  </script>

<% end %>
