<%= javascript_include_tag "tags/index" %>

<div id="tags">
  <%= render :partial => @tags, :locals => { :list => true } %>
</div>

<div id="formarea">

  <div id="form">
    <%= form_for Tag.new, :remote => true do |f| %>
      <strong>
        <%= f.label :name, "Tag name: " %><br />
      </strong>
      <%= f.text_field :name %><br />
      <br />
      <%= f.label :tags, "Tags: " %><br />
      <%= f.text_field :tags %><br />
      <%= f.label :event_sources, "Event sources: " %><br />
      <%= f.text_field :event_sources %><br />
      <%= f.label :event_names, "Event names: " %><br />
      <%= f.text_field :event_names %><br />
      <%= f.submit "Add tag" %>
    <% end %>
  </div>

  <div id="notice"><%=h flash[:notice] %></div>

</div>
