<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %>, #frame_<%= frame.id %>_graph {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width %>px;
      height: <%= frame.height %>px;
    }
  </style>

  <%

  event_types = EventType.find_by_sources_and_names(
    Tag.sources_for_tagname(frame.tag),
    Tag.names_for_tagname(frame.tag)
  )

  averaged_events = Event.get_grouped_and_averaged_values_for_timerange(
    :event_types => event_types,
    :range_in_seconds => @timerange,
    :end_at => @starttime,
    :chunk_size => 1
  )

  event_type_names = get_event_type_names_for_google_graph(averaged_events)
  event_type_average_values = get_event_type_average_values_for_google_graph(averaged_events)

  %>

  <div id="frame_<%= frame.id %>" class="frame">
    <div id="frame-delete_<%= frame.id %>" class="frame-delete delete-button">x</div>
    <div class="frameheader">
      <%= frame.tag %>
      &nbsp;
      <strong>Sources:</strong>
      <% Tag.sources_for_tagname(frame.tag).each do |s| %>
        <%= s %>
      <% end %>
      <strong>Names:</strong>
      <% Tag.names_for_tagname(frame.tag).each do |n| %>
        <%= n %>
      <% end %>
    </div>

    <span></span>
    
    <div id="frame_<%= frame.id %>_graph">
	 	  <img src="http://chart.apis.google.com/chart?chs=<%= frame.width %>x<%= frame.height %>&cht=lc&chco=3072F3,FF0000,FFFF00,FF00FF&chd=t:<%= event_type_average_values %>&chdl=<%= event_type_names %>&chdlp=b&chls=1|1|1|1&chma=0,0,0,0" width="<%= frame.width %>" height="<%= frame.height %>" alt="" />
	  </div>
	
  </div>

<% end %>
