<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %>, #frame_<%= frame.id %>_graph {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width %>px;
      height: <%= frame.height %>px;
    }
  </style>

  <div id="frame_<%= frame.id %>" class="frame">
    <div id="frame-delete_<%= frame.id %>" class="frame-delete delete-button">x</div>
    <div class="frameheader">
      <%= frame.tag %>
      &nbsp;
      <strong>Sources:</strong>
      <% Tag.sources_for_tagname(frame.tag).each do |s| %>
        <%= s %>
      <% end %>
      <strong>Names:</strong>
      <% Tag.names_for_tagname(frame.tag).each do |n| %>
        <%= n %>
      <% end %>
    </div>

    <span></span>
    
    <div id="frame_<%= frame.id %>_graph"></div>
  </div>

  <%

    average = nil
    average = @timerange / frame.width unless frame.width >= @timerange

    events = EventType.find_by_sources_and_names(
                                                 Tag.sources_for_tagname(frame.tag),
                                                 Tag.names_for_tagname(frame.tag)
                                                )
    event_groups = Event.get_normalized_values_for_timerange(events, @timerange, @starttime, average)
    num_cols = @timerange
    num_cols = @timerange / average unless average.nil?
    raphael_events = prepare_events_for_raphael(event_groups, num_cols)

  %>

  <script type="text/javascript">
    $(document).ready( function() {

      function drawChartForFrame<%= frame.id %>() {
        r<%= frame.id %> = Raphael("frame_<%= frame.id %>_graph");
        x = <%= raphael_events["x"] %>
        data = <%= raphael_events["data"] %>
        r<%= frame.id %>.g.linechart(50, 0, <%= frame.width %> - 100, <%= frame.height %> - 27, x, data, {nostroke: false, axis: "0 1 0 1", symbol: "", smooth: false, shade: true});
      }
      drawChartForFrame<%= frame.id %>(false);

    
      $("#frame_<%= frame.id %>").mouseenter(function() {
        $("#frame-delete_<%= frame.id %>").fadeIn();
      });

      $("#frame-delete_<%= frame.id %>").mouseenter(function() {
        $("#frame-delete_<%= frame.id %>").css('backgroundColor', '#f00');
      });

      $("#frame_<%= frame.id %>").mouseleave(function() {
        $("#frame-delete_<%= frame.id %>").fadeOut();
      });

      $("#frame-delete_<%= frame.id %>").mouseleave(function() {
        $("#frame-delete_<%= frame.id %>").css('backgroundColor', '#ddd');
      });

    });
  </script>
  
<% end %>
