<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %>, #frame_<%= frame.id %>_graph {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width %>px;
      height: <%= frame.height %>px;
    }
    #frame-delete_<%= frame.id %> {
      position: absolute;
      top: <%= frame.top - 20 %>px;
      left: <%= frame.left %>px;
    }
  </style>

  <div id="frame-delete_<%= frame.id %>" class="frame-delete">x</div>
  <div id="frame_<%= frame.id %>" class="frame">
    <div class="frameheader">
      <%= frame.tag %>
      &nbsp;
      <strong>Sources:</strong>
      <% Tag.sources_for_tagname(frame.tag).each do |s| %>
        <%= s %>
      <% end %>
      <strong>Names:</strong>
      <% Tag.names_for_tagname(frame.tag).each do |n| %>
        <%= n %>
      <% end %>
    </div>

    <span></span>
    
    <div id="frame_<%= frame.id %>_graph"></div>
  </div>

  <%

    ets = EventType.find_by_sources_and_names(
                                             Tag.sources_for_tagname(frame.tag),
                                             Tag.names_for_tagname(frame.tag)
                                            )
    event_groups = Event.get_normalized_values_for_timerange(ets, frame.width, nil, nil)

    x = []
    data = []
    x << frame.width.times.collect
    zerodata = []
    frame.width.times { zerodata << 0 }
    data << zerodata
    event_groups.each_pair do |event_type_id, values|
      gx = []
      gdata = []
      values.keys.sort.each do |key|
        gx << key
        gdata << values[key]
      end
      x << gx
      data << gdata
    end

  %>

  <script type="text/javascript">
    function drawChartForFrame<%= frame.id %>(redraw) {
      if (redraw) r<%= frame.id %>.clear();
      r<%= frame.id %> = Raphael("frame_<%= frame.id %>_graph");
      x = <%= x.inspect.to_s %>
      data = <%= data.inspect.to_s %>
      r<%= frame.id %>.g.linechart(30, 0, <%= frame.width %> - 60, <%= frame.height %> - 27, x, data, {nostroke: false, axis: "0 1 0 1", symbol: "", smooth: false, shade: true});
      //r.g.linechart(20, 0, 200, 180, [[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 5], [4, 5, 6, 7, 8]], [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [12, 15, 16], [13, 15, 17, 11, 19]], {nostroke: false, axis: "0 0 1 1", symbol: "", smooth: false, shade: true});
    }
    drawChartForFrame<%= frame.id %>(false);
  </script>
  
<% end %>
