<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %>, #frame_<%= frame.id %>_graph {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width+4 %>px;
      height: <%= frame.height+10 %>px;
    }
  </style>

  <%

  event_types = EventType.find_by_sources_and_names(
    Tag.sources_for_tagname(frame.tag),
    Tag.names_for_tagname(frame.tag)
  )
  
  averages_calculator = AveragesCalculator.new()
  averaged_events = averages_calculator.calculate_for(:event_types  => event_types,
                                                      :between      => Time.zone.now - @timerange,
                                                      :and          => Time.zone.now,
                                                      :in_chunks_of => @chunk_size,
                                                      :minutes      => true)

  event_type_names = get_event_type_names_for_google_graph(averaged_events)
  event_type_colors = get_event_type_colors_for_google_graph(averaged_events)
  event_type_average_values = get_event_type_average_values_for_google_graph(averaged_events)

  %>

  <div id="frame_<%= frame.id %>" class="frame">
    <div id="frame-delete_<%= frame.id %>" class="frame-delete delete-button">x</div>
  
    <div id="frame_<%= frame.id %>_graph" style="padding-top: 6px; margin-right: 6px;">
	 	  <img src="http://chart.apis.google.com/chart?chs=<%= frame.width %>x<%= frame.height %>&cht=lc&chxt=y&chg=10,-1,1,1&chco=<%= event_type_colors %>&chd=t:<%= event_type_average_values %>&chdl=<%= event_type_names %>&chdlp=b&chls=1|1|1|1&chma=0,0,0,0" width="<%= frame.width %>" height="<%= frame.height %>" alt="" />
	  </div>

    <div class="frameheader">
      <%= frame.tag %>
      &nbsp;
      <strong>Sources:</strong>
      <% Tag.sources_for_tagname(frame.tag).each do |s| %>
        <%= s %>
      <% end %>
      <strong>Names:</strong>
      <% Tag.names_for_tagname(frame.tag).each do |n| %>
        <%= n %>
      <% end %>
    </div>
	
  </div>

<% end %>
