<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %>, #frame_<%= frame.id %>_graph {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width+4 %>px;
      height: <%= frame.height+10 %>px;
    }
  </style>


  <div id="frame_<%= frame.id %>" class="frame">
    <div id="frame-delete_<%= frame.id %>" class="frame-delete delete-button">x</div>
  
    <div id="frame_<%= frame.id %>_graph" style="padding-top: 6px; margin-right: 6px;">      
	 	  <img src="<%= gchart_url_for_frame(:frame => frame, :timerange => @timerange, :chunk_size => @chunk_size) %>"
	 	       width="<%= frame.width %>"
	 	       height="<%= frame.height %>"
	 	       alt=""
	 	  />
	  </div>

    <div class="frameheader">
      <%= frame.tag %>
      &nbsp;
      <strong>Sources:</strong>
      <% Tag.sources_for_tagname(frame.tag).each do |s| %>
        <%= s %>
      <% end %>
      <strong>Names:</strong>
      <% Tag.names_for_tagname(frame.tag).each do |n| %>
        <%= n %>
      <% end %>
    </div>
	
  </div>

<% end %>
