<!--

<{0=>
  {"values"=>
    {0=>{"chunk"=>"2010-11-19 11:55:00", "value"=>2.5},
     1=>{"chunk"=>"2010-11-19 12:00:00", "value"=>7.0},
     2=>{"chunk"=>"2010-11-19 12:05:00", "value"=>11.0},
     3=>{"chunk"=>"2010-11-19 12:10:00", "value"=>0.0},
     4=>{"chunk"=>"2010-11-19 12:15:00", "value"=>0.0}},
   "event_type_id"=>980190965},
 1=>
  {"values"=>
    {0=>{"chunk"=>"2010-11-19 11:55:00", "value"=>5.0},
     1=>{"chunk"=>"2010-11-19 12:00:00", "value"=>14.0},
     2=>{"chunk"=>"2010-11-19 12:05:00", "value"=>22.0},
     3=>{"chunk"=>"2010-11-19 12:10:00", "value"=>0.0},
     4=>{"chunk"=>"2010-11-19 12:15:00", "value"=>0.0}},
   "event_type_id"=>980190966}}>.

-->


<% frames.each do |frame| %>
  <style>
    #frame_<%= frame.id %>, #frame_<%= frame.id %>_graph {
      top: <%= frame.top %>px;
      left: <%= frame.left %>px;
      width: <%= frame.width %>px;
      height: <%= frame.height %>px;
    }
  </style>

  <%
    
	 event_types = EventType.find_by_sources_and_names(
	                Tag.sources_for_tagname(frame.tag),
	                Tag.names_for_tagname(frame.tag))

	 averaged_events = Event.get_grouped_and_averaged_values_for_timerange(:event_types => event_types,
	                                                                       :range_in_seconds => @timerange,
	                                                                       :end_at => @starttime,
	                                                                       :chunk_size => 1)
    event_type_names = ""
	 event_type_average_values = ""
	
	 averaged_events.each_pair do |i, averaged_event|
		event_type_names = event_type_names + averaged_event["event_type_id"].to_s + "|"
		event_type_average_values = event_type_average_values + "-1|"
		averaged_event["values"].each_pair do |j, value|
			event_type_average_values = event_type_average_values.to_s + value["value"].to_s + ","
		end
		event_type_average_values = event_type_average_values[0..-2]
		event_type_average_values = event_type_average_values + "|"
	 end
    event_type_names = event_type_names[0..-2]
	 event_type_average_values = event_type_average_values[0..-2]
	
  %>

  <div id="frame_<%= frame.id %>" class="frame">
    <div id="frame-delete_<%= frame.id %>" class="frame-delete delete-button">x</div>
    <div class="frameheader">
      <%= frame.tag %>
      &nbsp;
      <strong>Sources:</strong>
      <% Tag.sources_for_tagname(frame.tag).each do |s| %>
        <%= s %>
      <% end %>
      <strong>Names:</strong>
      <% Tag.names_for_tagname(frame.tag).each do |n| %>
        <%= n %>
      <% end %>
    </div>

    <span></span>
    
    <div id="frame_<%= frame.id %>_graph">
	 	<img src="http://chart.apis.google.com/chart?chs=<%= frame.width %>x<%= frame.height %>&cht=lc&chco=3072F3,FF0000,FFFF00,FF00FF&chd=t:<%= event_type_average_values %>&chdl=<%= event_type_names %>&chdlp=b&chls=1|1|1|1&chma=0,0,0,0" width="<%= frame.width %>" height="<%= frame.height %>" alt="" />
	 </div>
	
  </div>


<% end %>
