<%= stylesheet_link_tag "frames/frames" %>
<%= javascript_include_tag "frames/index" %>

<div id="frames">
  <%= render :partial => "frame", :locals => { :frames => @frames } %>
</div>

<div id="formarea">

  <div id="form">
    <%= form_for [@screen, Frame.new], :remote => true do |f| %>
      <strong>
        <%= f.label :tag, "Frame for tag: " %><br />
      </strong>
      <%= f.text_field :tag %><br />
      <br />
      <%= f.label :width, "width: " %><br />
      <%= f.text_field :width, :value => "600" %><br />
      <%= f.label :height, "height: " %><br />
      <%= f.text_field :height, :value => "200" %><br />
      <%= f.submit "Add frame" %>
    <% end %>
  </div>

  <div id="notice"><%=h flash[:notice] %></div>

</div>
